version: '3.8'
services:
  logstash:
    build: # "context" and "dockerfile" fields have to be under "build"
      context: .
      dockerfile: Logstash-Docker
    hostname: logstash
    environment:
      - "LS_JAVA_OPTS=-Xms1024m -Xmx8192m"
    ports:
      - "9600:9600"
      - "5044:5044"
    deploy:
      restart_policy:
        condition: on-failure
  filebeat:
    hostname: filebeat
    command: filebeat -e -strict.perms=false
    build: # "context" and "dockerfile" fields have to be under "build"
      context: .
      dockerfile: Filebeat-Docker
    deploy:
      restart_policy:
        condition: on-failure