input {
    beats {
        port => "5044"
    }
    file { 
        path => "/tmp/nginx.log" 
        start_position => "beginning" 
    } 
}

filter { 
    if [agent][type] == 'filebeat' {
        mutate { replace => { "type" => "filebeat" } } 
        grok { 
            match => { "message" => "%{COMBINEDAPACHELOG}" } 
        }
    }
    else {
        mutate { replace => { "type" => "nginx" } } 
        json {
            source => "message"
        }
        useragent {
            source => "agent"
            target => "useragent"
        }
    }
    date { 
        match => [ "timestamp" , "dd/MMM/yyyy:HH:mm:ss Z" ]
    } 
} 

output {
    kusto {
        app_id => "${AAD_APP_ID}" 
        app_key => "${AAD_APP_KEY}"
        app_tenant => "${AAD_TENANT}"
        ingest_url => "${ADX_INGEST_URL}"
        database => "${ADX_DB}" 
        table => "${ADX_TABLE}"
        json_mapping => "${ADX_TABLE_MAPPING}"
        flush_interval => 10
        path => "/tmp/kusto/la-%{+YYYY-MM-dd-HH-mm}.txt" 
    }
}