name: build

on: push

jobs:
  build:
    name: Build gem
    runs-on: ubuntu-latest
    strategy:
      matrix:
        logstash-version: ['6.7', '6.8', '7.0', '7.x', 'default' ]
    env:
      LOGSTASH_SOURCE: 1
      LOGSTASH_PATH: ..//logstash
    steps:
      - if: matrix.logstash-version != 'default'
        name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: jruby
          bundler-cache: true
      - if: matrix.logstash-version != 'default'
        name: Checkout logstash ${{ matrix.logstash-version }}
        uses: actions/checkout@v2
        with:
          repository: "elastic/logstash"
          ref: ${{ matrix.logstash-version }}
          path: logstash
      - if: matrix.logstash-version != 'default'
        name: Build logstash
        run: ./gradlew assemble
        working-directory: logstash
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          path: 'kusto'
      - run: bundle install
        working-directory: 'kusto'
      - name: Test
        run: bundle exec rake spec_junit
        working-directory: 'kusto'
      - run: gem build *.gemspec
        working-directory: 'kusto'
      - if: matrix.logstash-version == 'default'
        name: Upload gem
        uses: actions/upload-artifact@v2
        with:
          name: logstash-kusto.gem
          path: 'kusto/*.gem'
      - if: matrix.logstash-version == 'default'
        name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@v1.6
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          files: kusto/rspec.xml
  e2e:
    name: End-To-End Testing
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: jruby
          bundler-cache: true
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Download gem
        uses: actions/download-artifact@v2
        with:
          name: logstash-kusto.gem
      - name: Install logstash # taken from logstash's website https://www.elastic.co/guide/en/logstash/7.10/installing-logstash.html#_apt
        run: |
          wget -qO - https://artifacts.elastic.co/GPG-KEY-elasticsearch | sudo apt-key add -
          sudo apt-get install apt-transport-https
          echo "deb https://artifacts.elastic.co/packages/7.x/apt stable main" | sudo tee -a /etc/apt/sources.list.d/elastic-7.x.list
          sudo apt-get update && sudo apt-get install logstash
      - name: Install plugin
        run: 'echo `whereis -b logstash` && `whereis -b logstash`/bin/logstash-plugin install logstash-kusto.gem'
      - name: Run e2e
        run:
          ruby e2e.rb
