name: build

on: push

jobs:
    build:
      name: Build gem
      runs-on: ubuntu-latest
      strategy:
        matrix:
          logstash-version: [6.6, 6.7, 6.8, 7.0, 7.x]
      steps:
        - name: Set up JDK 1.8
          uses: actions/setup-java@v1
          with:
            java-version: 1.8
        - uses: ruby/setup-ruby@v1
          with:
            ruby-version: jruby
            bundler-cache: true
        - name: Checkout code
          uses: actions/checkout@v2
        - name: Checkout logstash ${{ matrix.logstash-version }}
          uses: actions/checkout@v2
          with:
            repository: "https://github.com/elastic/logstash.git"
            ref: logstash-version
            path: logstash
        - name: Build logstash
          run: ./gradlew build
          working-directory: logstash
        - run: bundle install
          env:
            LOGSTASH_SOURCE: 1
            LOGSTASH_PATH: logstash
        - name: Test
          run: bundle exec rake spec_junit
          env:
            LOGSTASH_SOURCE: 1
            LOGSTASH_PATH: logstash
        - run: gem build *.gemspec
        - name: Upload gem
          uses: actions/upload-artifact@v2
          with:
            name: logstash-kusto.gem
            path: '*.gem'
          if: matrix.logstash-version == "7.x"
        - name: Publish Unit Test Results
          uses: EnricoMi/publish-unit-test-result-action@v1.6
          if: always()
          with:
            github_token: ${{ secrets.GITHUB_TOKEN }}
            files: rspec.xml