name: build

on: push

jobs:
    build:
      name: Build gem
      runs-on: ubuntu-latest

      steps:
        - name: Checkout code
          uses: actions/checkout@v2
        - uses: ruby/setup-ruby@v1
          with:
            ruby-version: jruby
            bundler-cache: true
        - run: bundle install
        - run: lock_jars
        - run: gem build *.gemspec