name: build

on: push

jobs:
    build:
      name: Build gem
      runs-on: ubuntu-latest

      steps:
        - name: Checkout code
          uses: actions/checkout@v2
        - uses: ruby/setup-ruby@v1
          with:
            ruby-version: jruby
            bundler-cache: true
        - run: bundle install
        - name: Test
          run: bundle exec rake spec
        - run: gem build *.gemspec
        - name: Upload gem
          uses: actions/upload-artifact@v2
          with:
            name: logstash-kusto.gem
            path: '*.gem'
