name: build

on:
  push:

jobs:
  build:
    name: Build gem
    runs-on: ubuntu-latest
    strategy:
      matrix:
        logstash: [
          { version: '8.2.2', url: "https://artifacts.elastic.co/downloads/logstash/logstash-8.2.2-linux-x86_64.tar.gz" , main: 'true' }
        ]
    env:
      LOGSTASH_SOURCE: 1
      LOGSTASH_PATH: /home/runner/logstash
      JRUBY_HOME: /home/runner/logstash/vendor/jruby
      JAVA_HOME: /home/runner/logstash/jdk
    steps:
      - name: Build logstash
        run: |
          echo "Getting logstash version ${{matrix.logstash.version}}"
          wget -O logstash.tar.gz ${{matrix.logstash.url}}
          tar -xf logstash.tar.gz
          mv logstash*/ logstash
        working-directory: /home/runner
      - name: Set Path
        run: |
          echo "$LOGSTASH_PATH/bin" >> $GITHUB_PATH
          echo "$LOGSTASH_PATH/vendor/jruby/bin" >> $GITHUB_PATH
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          path: 'kusto'
      - run: jruby -S bundle install
        working-directory: 'kusto'
      - name: Run unit tests
        run: jruby -S bundle exec rake test
        working-directory: 'kusto'
      - run: jruby -S gem build *.gemspec
        working-directory: 'kusto'
      - run: mv *.gem logstash-kusto.gem
        working-directory: 'kusto'
      - if: matrix.logstash.main == 'true'
        name: Upload gem
        uses: actions/upload-artifact@v2
        with:
          name: logstash-kusto.gem
          path: 'kusto/logstash-kusto.gem'
  e2e:
    name: End-To-End Testing
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: jruby
          bundler-cache: true
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Download gem
        uses: actions/download-artifact@v2
        with:
          name: logstash-kusto.gem
      - name: Install logstash # taken from logstash's website https://www.elastic.co/guide/en/logstash/7.10/installing-logstash.html#_apt
        run: |
          wget -qO - https://artifacts.elastic.co/GPG-KEY-elasticsearch | sudo apt-key add -
          sudo apt-get install apt-transport-https
          echo "deb https://artifacts.elastic.co/packages/7.x/apt stable main" | sudo tee -a /etc/apt/sources.list.d/elastic-7.x.list
          sudo apt-get update && sudo apt-get install logstash
      - run: sudo chown -R runner /usr/share/logstash
      - run: sudo chmod -R u=rx,g=,o=  /usr/share/logstash/bin
      - name: Install plugin
        run: /usr/share/logstash/bin/logstash-plugin install logstash-kusto.gem
      - run: jruby -S bundle install
      - name: Run e2e
        run: jruby -J-cp ../lib/ e2e.rb
        working-directory: 'e2e'
        env:
          ENGINE_URL: ${{ secrets.ENGINE_URL }}
          INGEST_URL: ${{ secrets.INGEST_URL }}
          APP_ID: ${{ secrets.APP_ID }}
          APP_KEY: ${{ secrets.APP_KEY }}
          TENANT_ID: ${{ secrets.TENANT_ID }}
          TEST_DATABASE: ${{ secrets.TEST_DATABASE }}