name: build

on:
  push:
    # Sequence of patterns matched against refs/tags
    branches:
      - '*'

jobs:
  build:
    name: Build gem
    runs-on: ubuntu-latest
    strategy:
      matrix:
        logstash-version: [ 'main' ]
    env:
      LOGSTASH_SOURCE: 1
      LOGSTASH_PATH: /home/runner/work/logstash-output-kusto/logstash-output-kusto/logstash
      JRUBY_HOME: /home/runner/work/logstash-output-kusto/logstash-output-kusto/logstash/vendor/jruby
    steps:
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: '8'
      - name: Checkout logstash ${{ matrix.logstash-version }}
        uses: actions/checkout@v2
        with:
          repository: "elastic/logstash"
          ref: ${{ matrix.logstash-version }}
          path: logstash
      - name: Build logstash
        run: ./gradlew assemble
        working-directory: /home/runner/work/logstash-output-kusto/logstash-output-kusto/logstash
      - name: Set Path
        run: |
          echo "/home/runner/work/logstash-output-kusto/logstash-output-kusto/logstash/bin" >> $GITHUB_PATH
          echo "/home/runner/work/logstash-output-kusto/logstash-output-kusto/logstash/vendor/jruby/bin" >> $GITHUB_PATH
          echo "JRUBY_HOME=/home/runner/work/logstash-output-kusto/logstash-output-kusto/logstash/vendor/jruby" >> $GITHUB_ENV
          ls -R /home/runner/work/logstash-output-kusto/logstash-output-kusto/logstash/
      - name: Install bundler
        run: jruby -S gem install bundler
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          path: 'kusto'
      - run: jruby -S bundle install
        working-directory: 'kusto'
      - name: Test
        run: jruby -S bundle exec rake spec_junit
        working-directory: 'kusto'
      - run: jruby -S gem build *.gemspec
        working-directory: 'kusto'
      - run: mv *.gem logstash-kusto.gem
        working-directory: 'kusto'
      - if: matrix.logstash-version == 'main'
        name: Upload gem
        uses: actions/upload-artifact@v2
        with:
          name: logstash-kusto.gem
          path: 'kusto/logstash-kusto.gem'
      - if: matrix.logstash-version == 'main'
        name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@v1.6
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          files: kusto/rspec.xml
  e2e:
    name: End-To-End Testing
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: jruby
          bundler-cache: true
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Download gem
        uses: actions/download-artifact@v2
        with:
          name: logstash-kusto.gem
      - name: Install logstash # taken from logstash's website https://www.elastic.co/guide/en/logstash/7.10/installing-logstash.html#_apt
        run: |
          wget -qO - https://artifacts.elastic.co/GPG-KEY-elasticsearch | sudo apt-key add -
          sudo apt-get install apt-transport-https
          echo "deb https://artifacts.elastic.co/packages/7.x/apt stable main" | sudo tee -a /etc/apt/sources.list.d/elastic-7.x.list
          sudo apt-get update && sudo apt-get install logstash
      - name: Install plugin
        run: sudo /usr/share/logstash/bin/logstash-plugin install logstash-kusto.gem
      - run: sudo chmod -R 777 /usr/share/logstash
      - run: sudo chmod -R 777 .
      - run: bundle install
      - run: lock_jars
      - name: Run e2e
        run: jruby e2e.rb
        working-directory: 'e2e'
        env:
          ENGINE_URL: ${{ secrets.ENGINE_URL }}
          INGEST_URL: ${{ secrets.INGEST_URL }}
          APP_ID: ${{ secrets.APP_ID }}
          APP_KEY: ${{ secrets.APP_KEY }}
          TENANT_ID: ${{ secrets.TENANT_ID }}
          TEST_DATABASE: ${{ secrets.TEST_DATABASE }}
